<p id="notice"><%= notice %></p>

<p>
  <strong>Label:</strong>
  <%= @option.label %>
</p>

<p>
  <strong>List:</strong>
  <%= @option.list_id %>
</p>

<%= link_to 'Edit', edit_option_path(@option) %> |
<%= link_to 'Back', options_path %>
